.App {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    @media (max-width: 768px){
        font-size: 10px;
    }
}

.slide-forward-enter {
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: fixed;
    transition: transform 500ms ease-out;
    box-shadow: -1px 0px 20px 2px black;
}

.slide-forward-enter-active{
    transform: translateX(0%);
}

.slide-forward-exit, .slide-backward-exit {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide-backward-enter {
    transform: translateX(-100%);
    box-shadow: 1px 0px 20px 2px black;
    transition: transform 500ms ease-out;
}

.slide-backward-enter-active{
    transform: translateX(0%);
}